.App {
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
}

.App-content-right {
  background-color: #303c32;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: 100vh;
}
.App-content-left {
  background-color: #101c33;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: 100vh;
}

.App-



.App-link {
  color: #61dafb;
}

